__pycache__/
src/var/
*.py[cod]
env/

/settings/local.py
/settings/dev.py
/docker-compose.override.yml
/media/
/tmp/
/mage2gen2
/mage2gen3
/mage2gen4
/mage2gen-core
/static/CACHE/

*.log
*.pid
.idea
.playwright-mcp/
Mage2genDatabase
