Django==6.1.1
psycopg[binary]==3.3.6
django-grappelli==5.0.0
social-auth-app-django==6.0.1
social-auth-core==5.1.1
django-compressor==4.6.0
jsonfield==3.2.0
mage2gen==2.3.3
django-jsend==0.4
docutils==0.22.4
pymemcache==4.0.0

#API
djangorestframework==3.18.1

#Debugging
colorlog==6.10.1
django-debug-toolbar==8.0.0
django-extensions==4.1
Werkzeug==3.1.9

ujson==5.11.0
Pillow==12.3.0
