/**
	* labels and badges
	* --------------------------------------------------
	*/

	.label-help,
	.badge-help {
		margin-left: 10px;
		cursor: pointer;
	}

	#modules .badge {
	    float: right;
	}

	span.badge {
	    margin-top: -5px;
	    margin-right: 10px;
	}