html {
	height: 100%;
}

body {
	background-color: #F5F7FA !important;
	height: 100%; 
}

.col-centered{
	float: none;
	margin: 0 auto;
}

#content-wrap {
	min-height: 100%;
	//padding-bottom: 140px;
}

.utilities {
	margin-bottom: 20px;
}